<h3>Share This Post</h3>
<div class="sharing">
  <div class="facebook fb-share-button sharing-network"
    data-href="{{site.url}}{{page.url}}"
    data-layout="box_count"
    data-action="like"
    data-show-faces="false"
    data-share="true">
  </div>
  <div class="twitter sharing-network">
    <a href="https://twitter.com/share" class="twitter-share-button"
      data-via="{{site.data.contact.twitter}}"
      data-text="{{page.title}}"
      data-count="vertical">
    </a>
  </div>
  <div class="hn sharing-network">
    <a href="https://news.ycombinator.com/submit" class="hn-button"
      data-title="{{page.title}}"
      data-url="{{site.url}}{{page.url}}"
      data-count="vertical">
    </a>
  </div>
</div>
